.container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 20px;
}

.container-info .component {
    flex: 1;
    min-width: 300px;
    max-width: 700px;
}

.container-info .component h4 {
    text-align: center;
    margin-bottom: 0.6rem;
}

.component iframe {
    width: 100%;
    height: 400px;
}

@media (max-width: 800px) {
    .container-info .component {
        flex: 1;
        min-width: 100%;
        max-width: none;
    }
}

@media (max-width: 600px) {
    .container-info .component {
        min-width: 100%;
    }
}
