html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*!!!!!!!!!!!!!!!!*/

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/*!!!!!!!!!!Для футера*/

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:any-link {
    text-decoration: none;
    color: inherit;
}

button {
    outline-color: transparent;
    background-color: transparent;
}